body {
    font-family: arial;
}

.candidate {
    background-color: orange;
    font-size: 25px;
    padding: 10px 5px;
}

.question {
    background-color: antiquewhite;
    font-size: 25px;
    padding: 5px 5px;
}

.answers {
    background-color: azure;
    font-size: 25px;
    padding: 5px 5px;
}

.radio-list input[type="radio"] {
    margin: 15px 5px;
}

div.next-button {
    background-color: orange;
    font-size: 25px;
    padding: 10px 5px;
}

.next-button {
    font-size: 25px;
    padding: 0 5px;
}

.note-messages {
    background-color: antiquewhite;
    font-size: 16px;
    padding: 0 5px;
}
